lightning @ git+https://github.com/Lightning-AI/lightning@6cbe9ceb560d798892bdae9186291acf9bf5d2e3
lightning[app]
jsonargparse[signatures]  # CLI
pandas
pyarrow
tokenizers
sentencepiece
wandb
zstd
pyyaml
