torch>=2.1.0dev
lightning==2.1.2
lightning[app]
jsonargparse[signatures]  # CLI
pandas
pyarrow
tokenizers
sentencepiece
wandb
zstd

# for finetuning
bitsandbytes==0.40.0
transformers==4.31.0
peft==0.4.0
accelerate==0.21.0
einops==0.6.1
evaluate==0.4.0
scikit-learn==1.2.2
sentencepiece==0.1.99
wandb==0.15.3
# other optional dependencies are
# sentencepiece  # pythia, falcon, redpajama
# tokenizers  #  llama-based models
# bitsandbytes>=0.41.1  # quantize/bnb.py
# scipy  # TODO: remove when https://github.com/TimDettmers/bitsandbytes/pull/525 is released
# datasets  # quantize/gptq.py
# zstandard  # scripts/prepare_redpajama.py
# git+https://github.com/EleutherAI/lm-evaluation-harness.git@master  # eval
